p{
    font-size: 10px;
    color: white;
    margin: 0;
}

#img_ {
    width: 300px;
    height: 60%;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

#nm {
    color: white;
}

#w {
    margin: 5px;
    margin-left: 0px;
}